    @font-face {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: normal;
    src: url(https://github.com/Liu-Xinyu-Wdlss/Liu-Xinyu-Wdlss.github.io/raw/main/src/font/hywenhei-85w.woff) format('woff2');
    }